@page "/curriculo"

<PageTitle>Currículo</PageTitle>

<h1>Currículo</h1>

<h3>Anna Isabela Bianchini Pontuschka</h3>

<section class="content">


  <div>
    <p>Proeficiências:</p>
    <ul>
      <li>HTML, CSS, JavaScript e TypeScript</li>
      <li>Vue.js + Vue Router / Nuxt.js </li>
      <li>Figma</li>
      <li>C# / .NET</li>
      <li>Git + GitHub</li>
      <li>UI / UX</li>
    </ul>

    <p>Experiência com:</p>
    <ul>
      <li>React + Vite</li>
      <li>Wordpress + PHP</li>
    </ul>

    <p> Atualmente cursando Técnico em Informática Integrado ao Ensino Médio no Instituto Federal de Rondônia. </p>

    <p> Bolsista no projeto Sistema Gerador de Horário Acadêmico. Confira meu trabalho como desenvolvedora front-end no
      <a target="_blank" href="https://github.com/ladesa-ro/web/commits/main/?author=annaisabelapont">repositório
        presente
        no GitHub</a>. </p>

    <p> Ensino Fundamental concluído no Colégio Ulbra São Paulo. </p>

    <p> Para ver mais, consulte o <a target="_blank" href="http://lattes.cnpq.br/7159991438315573">currículo no
        Lattes</a>
      e o <a target="_blank" href="https://github.com/annaisabelapont">perfil no GitHub!</a> </p>

  </div>
  
  <img src="gato4.png" alt="eu programando">
</section>