@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, wonderful world!</h1>

<p>
  Olá, jovem gafanhoto! Esta é a página inicial do projeto Blazor. Para ver a atividade da sua querida aluna Anna
  Isabela,
  consulte a sidebar.
</p>

<figure>
  <img src="gato3.gif" alt="gato feliz">
  <figcaption>a imagem acima descreve eu se ganhar nota maxima</figcaption>
</figure>

<br>

<figure>
  <img src="gato2.jpeg" alt="gato bravinho">
  <figcaption> a imagem acima descreve eu se tirar 0 </figcaption>
</figure>