@page "/sobre"

<PageTitle>Sobre mim</PageTitle>

<h1> Sobre mim </h1>

<figure>
  <img src="gato.jpg" alt="Foto gato" />
  <figcaption>eu na foto</figcaption>
</figure>

<p> <b class="rainbow-text">Anna Isabela Bianchini Pontuschka</b> é uma estudante de nível médio nascida em São Paulo no ano de 2008. </p>

<p class=""> Aspirante a desenvolvedora, deseja se tornar programadora full-stack e cursar bacharelado em Sistemas de Informação
  na Universidade de São Paulo. </p>

<p class="red"> Amante de gatos, gostaria de ter nascido como um deles, mas infelizmente vai ter que trabalhar para pagar as contas.
</p>

<p class="green"> Atualmente mora em Ji-Paraná - Rondônia, e está doida para voltar a sua terra natal. </p>