@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

body {
  height: 100dvh;
  width: 100dvw;
}

figcaption {
  color: grey;
  font-size: small;
}

figure {
  margin: 0;
}